<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TvShows.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="TvShowsModelContainer" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Data\TvShows.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <TvShows.MySettings>
      <setting name="MainWindowPlacement" serializeAs="String">
        <value />
      </setting>
      <setting name="TmdbConfiguration" serializeAs="String">
        <value />
      </setting>
      <setting name="TvShowRootPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEpisodeImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCompleteShows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOnlyFavorites" serializeAs="String">
        <value>False</value>
      </setting>
    </TvShows.MySettings>
  </userSettings>
</configuration>